@import '@styles/resources/breakpoints';

.header {
    width: 100%;
    position: sticky;
    top: 0;
    z-index: 10;
    margin: 8rem 0;
    
    .inputWrapper {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        z-index: 1;
        padding: 2.4rem;
        backdrop-filter: blur(1rem);
    }

    .input {
        width: 100%;
        padding: 1.2rem 1.6rem;
        outline: none;
        border-radius: 0.4rem;
        border: none;
        background: none;
        background-color: var(--light-1);

        @include media-md {
            width: 80%;
        }
    }
}
