@import "./resources/reset.scss";

@import "./resources/fonts.scss";

@import "./resources/breakpoints";

html {
    font-size: 62.5%;
}

body {
    font-size: 16px;
    font-size: 1.6rem;
    font-family: 'Source Code Pro', 'sans-serif';
}