.pill {
    display: inline-block;
    padding: 0.6rem 1.6rem;
    font-size: 1.2rem;
    color: var(--light-2);
    text-transform: uppercase;
    border: 0.1rem solid rgba(var(--RGB_light-2), 0.2);
    border-radius: 0.4rem;
    margin: 0 0.4rem 0.4rem 0
}