
:root {
    --black: #000;
    --white: #FFF;

    --primairy: #FFC917;
    --secondary: #FFB10A;

    --accent-1: #17D8FF;
    --accent-2: #3EC24B;

    --dark-1: #333;

    --light-1: #FCFCFC;
    --light-2: #C2C2C2;
    --light-3: #ADADAD;
}
